<IfModule mod_rewrite.c>
    chgrp -R www-data storage
    chmod -R ug+rwx storage
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_URI} !/public
    RewriteRule ^(.*)$ public/$1
</IfModule>